[2017-05-08 09:34] kristofferjansson opened #1 "Prometheus.Client.Owin package not available"
Trying to update from alpha2 to 1.0.0 but the package Prometheus.Client.Owin is not available.

https://www.nuget.org/packages/Prometheus.Client.Owin

[2017-05-08 12:06] phnx47 commented on #1
The package will be published today

[2017-05-08 14:54] phnx47 commented on #1
Sorry.

Now, Prometheus.Client.Owin is published

[2017-05-08 22:33] #1 closed

[2017-08-03 00:29] KyleGobel opened #2 "Can't recognize the /metrics outputs"
Hey,

I've been trying for a couple hours now.

Everything looks good at /metrics from what I can tell, but i've been getting strange errors from prometheus.

When in protobuf mode there error switches between these two:
![image](https://user-images.githubusercontent.com/4460054/28900632-95340222-77c0-11e7-976a-5e09a4f4c88a.png)

and
![image](https://user-images.githubusercontent.com/4460054/28900

[2017-08-03 01:59] KyleGobel commented on #2
Ok, after forever I got at least the plain text version working by removing the byte order mark.

[code]

[2017-08-03 06:58] phnx47 commented on #2
It's like a bug. I'll try to fix it.

[2017-09-16 20:15] phnx47 commented on #2
Sorry for long answer.

I found an error in my example with Encoding

[2017-09-16 21:05] phnx47 commented on #2
Trouble with Controllers. I'm looking for a solution

Use
https://github.com/phnx47/Prometheus.Client.Owin
or
https://github.com/phnx47/Prometheus.Client.MetricServer

[2017-09-16 21:35] phnx47 commented on #2
I fixed examples.

@KyleGobel can you check?

[2017-09-18 10:22] ig-sinicyn opened #3 "[MetricServer, Bug] MetricServer crashes entire process if port taken by another app"
**Repro:** run an app with this code twice:
[code]

**Expected behavior:** On a second instance, metricServer.Start() throws an exception (or some event fired, or the Start() method returns false, anything but killing the process will do:) )

**Actual behavior:** Unhandled exception is thrown, entire process crashes.

**Reason:** the [StartListen](https://github.com/phnx47/Prometheus.Client.Metric

[2017-10-03 11:31] #2 closed

[2017-11-09 16:06] coding4food opened #4 "AsciiFormatter is incompatible with 2.0 release of prometheus"
As new version of Prometheus scrapes metrics only in text format, it cannot parse output of `AsciiFormatter` with UTF-8 BOM. Original `prometheus-net` formatter uses `UTF8Encoding` without BOM (https://github.com/andrasm/prometheus-net/blob/2da8ab9ec225bbcb0fa9b088ff3d09725d23b405/prometheus-net/Internal/AsciiFormatter.cs#L14).

[2017-11-09 20:41] phnx47 commented on #4
Thanks! Fixed in 1.2.2

[2017-11-09 20:41] #4 closed

[2017-11-21 21:48] DMehro opened #5 "Using given example in new app"
HI, I am new to prometheus and stumbled upon your git repo .

I took downloaded source code and while running in my local box it is not working . Can you please spare some time to help me understand promoetheus -

a) If I am using prometheus in my application , Is it required to write client , does prometheus client wont suffice ?
b) How to use prometheus in web application , for example if I have

[2017-11-21 22:20] phnx47 commented on #5
I recommend use https://github.com/phnx47/Prometheus.Client.Owin for Web Application.
I will write special extensions for MVC/WebApi. Here: https://github.com/phnx47/Prometheus.Client.Owin.RequestDurations.
You should see the metrics in '/metrics' route by default.

[2017-11-27 15:52] DMehro commented on #5
I tried out https://github.com/phnx47/Prometheus.Client.Owin  example , I could not run this application. Do you know if I have to tweak something to make it work and see data in prometheus server ?

[2017-11-27 16:32] phnx47 commented on #5
1) Run prometheus server. Don't  forget fill scrape_configs in prometheus.yml, example
[code]
2) Run WebCoreApplication in Prometheus.Client.Owin.
3) Open /api/counter for write test metric
4) Open /metrics. You should see your metrics
![image](https://user-images.githubusercontent.com/1101691/33277397-77c30018-d3a9-11e7-93b4-4ef8bfc4aa9c.png)

5) Go to Prometheus. By defautl: http://localhost:909

[2017-11-27 18:33] DMehro commented on #5
Step 2 & 3 does not work , moment I start debugging core app , it just flashes chrome window and close chrome window. It does not even hit any debug point in startup or global.cs files.

* I have cross checked that all packages are installed from nuget

[2017-11-27 18:38] phnx47 commented on #5
@DMehro Are you install .net core 2.0 ? Are you run with IIS or Kestrel? Need run with Kestrel, I will remove IIS profile

[2017-11-27 18:42] phnx47 commented on #5
I checked it. IIS and Kestrel are work

[2017-11-27 18:44] phnx47 commented on #5
show me your Console

[2017-11-27 18:49] phnx47 commented on #5
maybe because project use netcoreapp1.1... I upgraded to netcoreapp2.0

[2017-11-27 18:50] phnx47 commented on #5
Run App from cmd/powershell:
```dotnet run```
And show me Console

[2017-11-27 18:56] DMehro commented on #5
followed step as you said , attached is screenshot from console

[2017-11-27 18:56] DMehro commented on #5
![image](https://user-images.githubusercontent.com/4368361/33283752-6d32bc74-d372-11e7-9ae5-0230e97c9de8.png)

[2017-11-27 19:00] phnx47 commented on #5
You don't have net core 1.1. I updated to net core 2.0. git pull, restore packages and try again

[2017-11-27 19:03] DMehro commented on #5
I have .net core 2.x installed in my machine ? Do you mean to git pull owin project ?

![image](https://user-images.githubusercontent.com/4368361/33284073-6d07fb64-d373-11e7-97a0-9d3cfb067215.png)

[2017-11-27 19:05] phnx47 commented on #5
yes. owin project.

see my commit:
https://github.com/phnx47/Prometheus.Client.Owin/commit/c771db8f6121e2cfe68ffd80aa6e4fd0fade51b0

[2017-11-27 19:13] DMehro commented on #5
thanks , its working now .....you help is much appreciated

[2017-11-27 19:15] phnx47 commented on #5
![image](https://user-images.githubusercontent.com/1101691/33284476-4c9cb7e6-d3c0-11e7-8c79-4cef4673dbe3.png)

I have both version on my machine, and it work for me before updated

[2017-11-27 19:33] DMehro commented on #5
I get it ,my machine did not had only 2.X dot net core version.

BTW are there any example available if I want to use plain version of promotheus client for .net core web api telemetry purpose ?

[2017-11-27 19:42] phnx47 commented on #5
I will write special extension for web api: https://github.com/phnx47/Prometheus.Client.HttpRequestDurations

It will write Histogram for all http requests. For use Histogram I recommended read: https://prometheus.io/docs/practices/histograms/

[2017-11-28 15:12] #5 closed

[2017-11-29 14:29] DMehro opened #6 "Question - Can this library be used with .net core web app ?"

[2017-11-29 14:56] phnx47 commented on #6
Yes. Supported netstandard1.3 and netstandard2.0

[2017-11-30 20:43] #6 closed

[2017-12-22 11:18] AlexeyUsachev commented on #3
What can I do to make this pull request merge faster?

[2017-12-22 11:21] phnx47 commented on #3
You can do PR or wait when I release on January

[2018-01-22 16:07] tomkerkhove opened #7 "Guidance on using metrics"
Can you please provide some guidance on how to use the metrics if your not using `ScrapeHandler`?

`UsePrometheusServer` does not exist and individual snippets are not being tracked in Prometheus:
[code]

[2018-01-23 09:38] phnx47 commented on #7
I don't understand the problem.

[2018-01-23 09:46] phnx47 commented on #7
```UsePrometheusServer``` in https://github.com/phnx47/Prometheus.Client.Owin

[2018-01-23 11:04] tomkerkhove commented on #7
Ok that's the problem, it is mentioning parts of a different repo & package.

So if I use the prometheus server it will scrape the metrics from my gauge automatically then or? Do you support using a pushgateway as well?

[2018-01-23 11:47] phnx47 commented on #7
Yes, automatically.

Pushgateway will be done later

[2018-02-10 15:23] #7 closed

[2018-02-20 20:28] tomkerkhove commented on #7
It's up and running, thank you!

[2018-02-23 22:52] phnx47 commented on #3
I released new version and solved this

[2018-02-23 22:52] #3 closed

[2018-06-08 14:13] anisimovyuriy opened #8 "Prometheus Pushgateway"
Thanks for the gr8 .net client! I wonder if there is a plan to support "Push Gateway"?

[2018-06-08 14:58] phnx47 commented on #8
Yes. I will release "Push Gateway" on next week

[2018-06-15 12:39] dm3 opened #9 "Clarification on goals/pros/cons/differences to prometheus-net"
Hello,

I couldn't find any information on how this project is different to [prometheus-net](https://github.com/prometheus-net/prometheus-net) except for the brief mention that it's a fork.

Would be great if you could elaborate the goals/pros/cons/differences of this project compared to "prometheus-net" in the README. Given there's not much info there currently, the alternative is to read the cod

[2018-06-16 00:02] anisimovyuriy commented on #8
@phnx47 - I know that you might be working on it but if not I'm glad to contribute. Could you check my [PR](https://github.com/PrometheusClientNet/Prometheus.Client/pull/10):

Thanks!

[2018-06-16 10:59] phnx47 commented on #8
Oh, thank you.

But, I want to use this repositroy: https://github.com/PrometheusClientNet/Prometheus.Client.MetricPusher

I'll check code and create nuget

[2018-06-16 15:54] anisimovyuriy commented on #8
sure thing, thanks @phnx47!

[2018-06-17 13:49] john199604 commented on #8
@phnx47 can you please add some docs on how to use this https://github.com/PrometheusClientNet/Prometheus.Client.MetricPusher ?

[2018-06-17 13:59] phnx47 commented on #8
I'm not finished yet. Need some tests

[2018-06-17 17:19] anisimovyuriy commented on #8
I can help you with docs @phnx47 - at least my part

[2018-06-17 18:21] phnx47 commented on #8
@anisimovyuriy I will be grateful to you

[2018-06-17 19:19] phnx47 commented on #8
I need more time for think about Pushgateway feature and code

[2018-06-21 22:36] anisimovyuriy commented on #8
@phnx47 - please check my latest PR. if you were able to publish new nuget package with PushMetricService - I'd  add to Prometheus.Client.AspNetCore - PushHostedService (Background worker with timer implementation to push metrics) and Aspnetcore project with actual example.

[2018-06-21 23:10] phnx47 commented on #8
@anisimovyuriy ok, thank you. I will check. But I would like to keep this code in a separate library.  I think, we need less dependencies in the base library. Background worker too, I think that he should be in https://github.com/PrometheusClientNet/Prometheus.Client.MetricPusher

[2018-06-22 01:49] anisimovyuriy commented on #8
@phnx47 - good point - I'll send you PR to MetricPusher soon.

[2018-07-02 21:32] phnx47 commented on #8
@anisimovyuriy What do you think about my implementation? https://github.com/PrometheusClientNet/Prometheus.Client.MetricPusher/tree/dev

[2018-07-02 21:46] phnx47 commented on #8
Also, we can try add timer-based worker as alternative in code.

[2018-07-07 18:12] phnx47 commented on #8
Published

https://www.nuget.org/packages/Prometheus.Client.MetricPusher

[2018-07-07 18:12] #8 closed

[2018-08-11 22:35] phnx47 commented on #9
I wrote some information in Readme.

I created a fork for my own projects. Now I think about its development. Write more issues.

[2018-08-13 22:46] phnx47 opened #12 "Remove ProtoFormatter"
I was thinking about extract ProtoFormatter to package, but this is a difficult task.

[2018-08-15 19:46] phnx47 commented on #12
Since Prometheus 2.0 no longer supports the Protobuf-based format

[2018-08-17 22:30] phnx47 opened #13 "Add Untyped Type"

[2018-09-13 22:01] benclapp opened #14 "Change metric type names to lowercase"
Prometheus 2.4.0 has started validating that metric type names are lowercase. If they're not, the scrape will fail.

See this issue: https://github.com/prometheus/prometheus/issues/4602

[2018-09-13 22:29] phnx47 commented on #14
@benclapp Thank you!

[2018-09-13 23:15] phnx47 commented on #14
Released in 2.0.0

[2018-09-13 23:15] #14 closed

[2018-09-13 23:15] phnx47 commented on #12
Released in 2.0.0

[2018-09-13 23:15] #12 closed

[2018-09-15 08:29] tomkerkhove opened #15 "Prometheus format changed in v2.0.0"
I'm working on upgrading to v2.0.0 but I'm having some concerns.

When running my scenario the Prometheus scraping endpoint shows the following:
[code]

While in the past it showed the following:
[code]

This feels like a bug as this is not according to the Prometheus format. ([docs](https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposition_formats.md#text-format-example

[2018-09-16 17:00] tomkerkhove commented on #15
The only thing that I do is this: ([source]):
[code]

And writing via:
[code]

[2018-09-16 19:13] phnx47 commented on #15
I checked Promitor code. Everything is fine.

![image](https://user-images.githubusercontent.com/1101691/45599961-aa4f7a80-b9fd-11e8-9a4b-ed7bd1bde03e.png)

[2018-09-16 19:14] phnx47 commented on #15
I need more information for debug or some unit tests

[2018-09-16 19:45] tomkerkhove commented on #15
You'll need to check the branch of the PR. Master is fine currently.

I'd love to give you more info, but that's all I have..

[2018-09-16 20:33] phnx47 commented on #15
![image](https://user-images.githubusercontent.com/1101691/45600634-a543f880-ba08-11e8-8a40-7d219eb91299.png)

I can't reproduce this...

Maybe your browser wrong display '\n'?

[2018-09-16 20:45] tomkerkhove commented on #15
That's exactly it - Edge is not showing it correctly and works fine in Chrome.
Sorry for this lame issue & your waste of time but thanks for having a look!

Closing issue.

[2018-09-16 20:45] #15 closed

[2018-09-19 13:52] HenryKeen opened #16 "Missing line feeds from the metrics endpoint"
Hi

I'm having an issue since updating to 2.0 version of the package where the line endings have disappeared. It looks fine from the code so I'm wondering if this is an environment issue or if this is common?

The web project is a net461 project. I'm using the Prometheus.Client.Owin plugin.

This is what I'm seeing when hitting `/metrics` in chrome...

![screen shot 2018-09-19 at 14 51 49](https:/

[2018-09-19 14:53] phnx47 commented on #16
It looks like #15. No bug with line. Is Prometheus correctly picks up data?

I tested it in net45. I will try with net461

[2018-09-19 14:57] HenryKeen commented on #15
hi guys, I don't know if this is the same issue but I'm seeing this when using `Prometheus.Client.Owin` and its related to the contentType defaulting to `text/html` instead of `text/plain`.

I have a PR to fix https://github.com/PrometheusClientNet/Prometheus.Client.Owin/pull/6

[2018-09-19 14:58] HenryKeen commented on #16
Managed to fix the issue with this PR https://github.com/PrometheusClientNet/Prometheus.Client.Owin/pull/6

[2018-09-19 14:58] HenryKeen commented on #16
do you mind pulling? feels like a no-brainer as the ContentType header should be `text/plain` anyway

[2018-09-19 15:10] phnx47 commented on #16
Good, I didn't think it was necessary. But with Content Type will be definitely better.

@HenryKeen Thank you!

[2018-09-19 15:48] tomkerkhove commented on #15
A-ha, that explains a lot. Thanks!

[2018-09-19 17:12] #16 closed

[2018-10-23 19:47] tomkerkhove opened #18 "Support for timestamps in metrics"
Are there plans to provide support for timestamp in metrics?

This is officially supported by Prometheus: https://prometheus.io/docs/instrumenting/exposition_formats/

  "{" label_name "=" `"` label_value `"` { "," label_name "=" `"` label_value `"` } [ "," ] "}"
] value [ timestamp ]

[2018-10-23 23:40] phnx47 commented on #18
I need time for research

[2018-10-23 23:46] #9 closed

[2018-12-18 04:02] phnx47 commented on #18
I will come back in next year. Sorry for waiting.

—
Сергей

________________________________
From: Tom Kerkhove <notifications@github.com>
Sent: Friday, December 14, 2018 10:28 PM
To: PrometheusClientNet/Prometheus.Client
Cc: Sergey Kuznetsov; Assign
Subject: Re: [PrometheusClientNet/Prometheus.Client] Support for timestamps in metrics (#18)

Any update on this?

—
You are receiving this because

[2019-01-04 16:33] phnx47 opened #19 "Stop support legacy net45"
Analyzed the number of downloads for net45. No sense in the future to develop.

I will remove support from one of the following minor versions.

[2019-01-04 16:34] phnx47 commented on #18
In Progress...

[2019-01-04 16:55] tomkerkhove commented on #18
No problem, take your time and thank you!

[2019-01-14 12:47] stianlagstad opened #20 "Feature request: Push gateway basic auth support"
Thank you very much for these repositories!

I'd like to be able to push metrics to a gateway that requires basic authorization. Similar to this: https://github.com/prometheus/client_java/issues/364. From what I can see in the code here this is not supported now.

[2019-01-14 12:53] phnx47 commented on #20
I will transfer issue

[2019-01-21 21:57] phnx47 commented on #18
@tomkerkhove  Published to [MyGet](https://www.myget.org/feed/phnx47-beta/package/nuget/Prometheus.Client/2.1.0-build67) for test.

[2019-01-22 07:11] tomkerkhove commented on #18
It looks fine for me but do you also have plans to allow us to specify the stamp to use?

I'm not sure if the tracked value is correct, however, because in my sample it has `1548140899` which turns out to be 1/22/2019, 10:08:19 AM which is the local time and not GMT.

[2019-01-22 07:46] tomkerkhove commented on #18
Thanks! Will create a seperate issue for passing timestamp when this one is closed

[2019-01-22 15:23] tomkerkhove commented on #18
Any reasons why you are not using `DateTimeOffset.UnixEpoch` rather than calculating it yourself?

[2019-01-24 20:44] phnx47 commented on #18
DateTimeOffset.UnixEpoch isn't exists in netstandard

[2019-01-24 20:49] phnx47 commented on #18
Published 2.1.0

[2019-01-24 20:59] tomkerkhove commented on #18
Closing as this works and is pushed. Thanks!

[2019-01-24 20:59] #18 closed

[2019-01-24 21:00] tomkerkhove opened #21 "Support for specifying timestamp rather than calculating it"
Support for specifying timestamp rather than calculating it would be great because sometimes there is a gap between measuring and tracking it where it should use the measuring stamp.

[2019-02-17 12:33] phnx47 commented on #13
Released 2.2.0

[2019-02-17 12:33] #13 closed

[2019-02-20 09:56] sanych-sun opened #23 "Introduce IMetricsWriter"
Review scrapping process to use IMetricsWriter instead of generating CMetric object. This should reduce memory allocation while scrapping.

[2019-02-20 10:11] sanych-sun opened #24 "ThreadSafeLong-based counter"
Most of the counters are naturally int-based (number of events), however current version of the library uses double as internal representation of the counter to follow the Prometheus conventions. This approach require some extra effort in .Net implementation.

It might make sense to add new type of counter based on long, so we can take advantages of build-in atomic operations.

Let's discuss the s

[2019-02-20 23:26] phnx47 commented on #24
Yes. We can use 'long' for public.

[2019-02-20 23:39] phnx47 commented on #23
Incorrect format in Example.

https://github.com/PrometheusClientNet/Prometheus.Client.Examples/tree/master/WithoutExtensions/CoreWebWithoutExtensions_2.1

![image](https://user-images.githubusercontent.com/1101691/53132771-c98c9e00-3581-11e9-8409-9b43d4783465.png)

[2019-02-20 23:44] phnx47 commented on #23
@sanych-sun

- Remove '\n'
- HELP and TYPE, before metric_name
- Check last line, it is seems like closed stream

[2019-02-20 23:53] sanych-sun commented on #23
Wow, help and type in wrong position... I must sleep more :).

I'll fix this ASAP and create unit tests for the metric writer.

Thanks
Alex

On Wed, Feb 20, 2019, 15:44 Sergey Kuznetsov <notifications@github.com
wrote:

[2019-02-21 00:07] phnx47 opened #26 "Create real samples"
Samples for Grafana

[2019-02-21 01:52] sanych-sun commented on #21
@tomkerkhove could you please provide more information on your use case? Is it custom collector on your side? or do you need to import some historical records?

If you provide the information we will try to include needed changes into upcoming v3 release.

Thanks

[2019-02-21 11:48] phnx47 commented on #21
@sanych-sun I used 'bool' includeTimestamp. I think, we should  accept 'bool' and 'timestamp'.

Previous issue: https://github.com/PrometheusClientNet/Prometheus.Client/issues/18

[2019-02-21 11:59] tomkerkhove commented on #21
That's correct - Would like to specify my own Datetime Offset.

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: Sergey Kuznetsov <notifications@github.com>
Sent: Thursday, February 21, 2019 12:48:35 PM
To: PrometheusClientNet/Prometheus.Client
Cc: Tom Kerkhove; Mention
Subject: Re: [PrometheusClientNet/Prometheus.Client] Support for specifying tim

[2019-02-21 17:56] sanych-sun commented on #21
Ok.
I can see 2 options here, depends on your use-case:

1) you have some external metrics which you currently integrate in the library as IOnDemandCollector. I would like to let you know that in upcoming v3 we will remove IOnDemandCollector by ICollector. And we introduce IMetricWriter which helps to collect your custom data (like that, please note that work in progress and some details could be

[2019-02-21 21:16] sanych-sun opened #27 "Introduce IValueObserver interface"
Summary and Histogram could have more generic interface to contain the single method:
`Observe(double value)`

Extension methods for convenient way to measure duration of actions/functions execution would be helpful as well.

[2019-02-22 12:33] tomkerkhove commented on #21
I would prefer option 2 as I'm not using any collectors or so.

[2019-02-22 21:10] sanych-sun opened #29 "Add benchmarks collection"
Introduce benchmarks collection for critical parts of library's functionality:
1) Metrics creation/retrieving via the Factory
2) Value observations (method like Counter.Inc)
3) Metrics collection

Probably based on [BenchmarkDotNet library](https://github.com/dotnet/BenchmarkDotNet).

In ideal situation - benchmarks should be collected as a part of CI pipeline and published so we can see changes f

[2019-02-22 21:20] sanych-sun commented on #29
I can add implement benchmarks, however I need help to integrate them somehow in build process.

[2019-02-22 21:31] sanych-sun opened #30 "Add code analyzers"
I suggest to add at least following analyzers:
1) [SonarAnalyzer.CSharp](https://www.nuget.org/packages/SonarAnalyzer.CSharp/) - provide number of analyzers to enforce using of C# best practices
2) [StyleCop.Analyzers](https://www.nuget.org/packages/StyleCop.Analyzers/) - enforce single code style

Both can be referenced as a package reference so no extra effort needed to configure CI. List of rul

[2019-02-22 21:46] phnx47 commented on #29
@sanych-sun I can integrate it in appveyor or travis

[2019-02-22 21:48] phnx47 commented on #30
I used Codacy before... Now not use anything. I need time for research

[2019-02-22 21:50] sanych-sun commented on #30
I can make an example in separate branch, so you can play with it before move it into master.

[2019-02-22 22:27] sanych-sun commented on #21
Thank you for the response. So here is complete proposal:

1) New overload should be added to all value observation methods to accept observation timestamp as a time in unix format (number of milliseconds since epoch start) and extension methods for convenient usage accepting timestamp as DateTime or DateTimeOffset.

2) Provided timestamps will be ignored if metrics was created with IncludeTimesta

[2019-02-23 07:49] sanych-sun commented on #30
I've created branch with included analyzers mentioned above, so you can play with the analyzers. Now there are approx 500 warnings (most of them are trivial, like "Documentation text should end with a period" or "A property should not follow a method") I'll fix all of them if e decide to use this analyzers.

BTW, Sonar found useless variable mentioned by you from the previous pull request:
![image

[2019-02-23 09:34] sanych-sun opened #32 "Metrics scrapping failed if some metrics have no observation"
Steps to reproduce:
1) create some metrics
2) observe values on some of them but one
3) try to scrap the metrics

Expected result:
All metrics present, metric without observation returns 0 in sample

Actual result:
Exception appears in MetricsTextWriter.

[2019-02-26 22:31] phnx47 commented on #30
It is conflict with Rider analyzer. I prefer use only one.

For code style, better use .editorconfig: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017

[2019-02-26 22:33] sanych-sun commented on #30
Ok, no problem. I'll close the issue

[2019-02-26 23:57] phnx47 commented on #30
@sanych-sun I read more about StyleCop. I think, we can use it in future, I need time to set up rules

[2019-02-27 00:03] sanych-sun commented on #30
Ups. I've already delete the branch from origin. I'll restore it tonight.

Take you time for investigation, but it would be really great to include this into v3 release. Let me know if you need any help with some rules/configuration.

[2019-02-27 00:12] phnx47 commented on #30
I restored branch.

I fix all conflict with my Rider rules: https://www.jetbrains.com/help/rider/StyleCop_Styles.html?Wave=183

[2019-02-27 10:24] phnx47 commented on #30
Added codefactor: https://www.codefactor.io/repository/github/prometheusclientnet/prometheus.client

Working with style guide .editorconfig + stylecop in branch

[2019-02-27 16:14] sanych-sun commented on #30
Looks nice!

Only 1 question: are you going to have a package reference to the analyzer?
I'm asking because I prefer to see code analysis result instantly, not
after my code pushed to original or even merged into master.

Thanks

On Wed, Feb 27, 2019, 02:24 Sergey Kuznetsov <notifications@github.com>
wrote:

[2019-02-27 16:28] phnx47 commented on #30
Codefactor: Just check result, I used Cadacy before. Everyone can see that

For develop:
 - Rider: use .editorconfig and stylecop configs
 - Visual Studio: I don't use Windows, I think need install StyleCop.Analyzers

[2019-02-28 23:57] phnx47 opened #35 "Timestamp should be in Milliseconds"
Docs: https://prometheus.io/docs/instrumenting/exposition_formats/

[2019-03-01 00:08] phnx47 commented on #35
Released: v2.2.2

[2019-03-01 07:33] #35 closed

[2019-03-01 17:30] #32 closed

[2019-03-01 17:30] #23 closed

[2019-03-04 19:09] #24 closed

[2019-03-05 20:02] #27 closed

[2019-03-05 20:02] sanych-sun commented on #27
Implemented

[2019-03-06 07:38] sanych-sun opened #41 "Metric's state access inconsistency"
I've noticed that we have inconsistency in access to metric's state:
- for Counter and Gauge library provides observation methods (Inc and Dec) and publicly available readonly property Value, which uncovers counter and gauge recorded state
- however for Histogram and Summary there is observation methods only, there is no way to get current state.

I'm not sure if there are any use-case  which requ

[2019-03-06 08:21] sanych-sun commented on #21
@tomkerkhove could you please confirm if proposal above covers your use-case?

[2019-03-06 08:55] phnx47 commented on #41
@sanych-sun Thank you! I will think about it

[2019-03-06 10:35] tomkerkhove commented on #21
Sorry for not replying @sanych-sun 	, missed this notification during travel!

This is fine for me, option 1 is what I will be using - Thanks!

[2019-03-06 11:19] phnx47 commented on #30
We have EditorConfig + StyleCop. It is works in Visual Studio and Rider/Resharper.

We have *.DotSettings for  Rider/Resharper.

We have CodeFactor for PR analyze.

[2019-03-06 11:20] phnx47 commented on #30
@sanych-sun I think, we can close issue.

[2019-03-06 17:46] #30 closed

[2019-03-08 07:29] sanych-sun commented on #19
I believe we can close it

[2019-03-08 07:29] #19 closed

[2019-03-11 16:20] sanych-sun commented on #21
@tomkerkhove Good news 😊, the changes are done and merged in master. So new extra parameter will be available next release (but we still have some extra tasks to be done, before we cut the release).

[2019-03-11 16:20] #21 closed

[2019-03-15 07:33] #29 closed

[2019-03-16 14:52] phnx47 commented on #41
@djluck Hello! If you have time, we would appreciate your opinion.

[2019-03-16 14:58] phnx47 commented on #41
@sanych-sun We should make public GetAllLabels too

[2019-03-17 05:25] sanych-sun commented on #41
OK, I'll return it v3 scope

[2019-03-19 21:12] sanych-sun commented on #41
There is definitely some use cases require access to state of metric. Here is similar [issue reported to official library](https://github.com/prometheus-net/prometheus-net/issues/139)

BTW: changes are done, can close the issue, unless someone want to add any details. #

[2019-03-20 04:48] sanych-sun opened #47 "Restrict metrics to use only names provided while registration"
Each metric has to provide a list of names while registration by means of MetricNames property. However there is no validation if the metric uses the same set of names while collection. It could leads to the conflicting names and cause unknown results on Prometheus server.

It should be a way to restrict metric from using any names besides reserved while registration.

[2019-03-20 07:56] #41 closed

[2019-03-21 16:59] #47 closed

[2019-03-27 20:12] sanych-sun opened #53 "Refactor IMetricWriter as async api"
Have to review IMetricWriter and extensions to be Async

[2019-03-28 08:11] sanych-sun commented on #53
Async version is slower 3 times with comparing to sync API. Need to find another way to fulfill ASP.Net core 3 sync API restrictions.

[2019-03-28 09:57] ScottGuymer opened #55 "Stong Named Assemblies"
I am investigating the use of Prometheus and have a requirement for strong names in all dependencies.

Is there any objection to adding strong naming to this project? And other parts of the ecosystem such as Prometheus.Client.MetricServer.

[2019-03-28 11:39] phnx47 commented on #55
@ScottGuymer No problem. I will research this, and you can make PR.

[2019-03-28 12:10] ScottGuymer commented on #55
Happy to contribute!

[2019-03-28 13:14] ScottGuymer commented on #55
Microsoft advice is to check in the keys for OSS projects.
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblies

Althought advice seems to vary
https://stackoverflow.com/a/396159
https://stackoverflow.com/a/886024

I will work up a PR with signing activated and a key checked into the repo

[2019-03-30 00:36] phnx47 commented on #55
Merged!

[2019-04-01 09:48] ScottGuymer commented on #55
@phnx47 to be able to string name the dependent assemblies (eg Prometheus.Client.MetricsServer) this will need to be published on NuGet as the dependent assemblies pull this from NuGet

[2019-04-01 09:51] phnx47 commented on #55
@ScottGuymer Ok, I will publish later

[2019-04-01 09:54] ScottGuymer commented on #55
Great i can then work on getting the rest of the projects upgraded.

[2019-04-01 21:31] #53 closed

[2019-04-01 21:39] phnx47 commented on #55
3.0.0-rc2

[2019-04-10 16:06] davidalpert opened #59 "ScrapeHandler.Process(...) does not seem to return metric output in a deterministic sequence"
Is there expected to be any deterministic sort order with the scraped metrics when using:
[code]

it appears that related metrics (i.e. with similar names) do not sort together and I may have seen the sort order change from scrape to scrape.

is this expected?

I will work on a PR with a unit test demonstrating this.

[2019-04-10 16:26] sanych-sun commented on #59
It's a good question. As far as I understood there is no technical needs to sort them, as Prometheus server ignores sequence. But for debug purposes it could be usefull.

Are you using v2 of the library? We did a lot of changes in v3 and described behavior could change in v3. Could you please check release candidate package of v3 build?

[2019-04-10 16:32] davidalpert commented on #59
Thanks for the quick response!

I'm currently using version `2.2.1` and I should have included that in my question, thanks for the reminder.

I agree that Prometheus server doesn't seem to care about the sort order but sorting the scraped metrics alphabetically would ensure that metrics with related names are grouped in a natural and predictable sequence when scanned by a human.

I will try updati

[2019-04-10 16:36] sanych-sun commented on #59
Sure! Please let us know if you need some more information, help or additional changes. It's a good time to jump into v3 release ;-) .

[2019-04-10 18:03] davidalpert commented on #59
v3 release is listed as `prerelease` - is it stable?

[2019-04-10 18:05] sanych-sun commented on #59
It's release candidate. If no issues appears we will make it release in near future.

[2019-04-10 18:07] davidalpert commented on #59
In build `3.0.0-rc2` the `CollectorRegistry` class has no more `Instance` property; is there a new pattern recommended for scraping results in a controller action?

[2019-04-10 18:08] sanych-sun commented on #59
It's available via Metrics.DefaultCollectorRegistry

[2019-04-11 04:44] sanych-sun commented on #59
@davidalpert , I've checked v3 and found that metrics returned in the historical sequence (first registered appears first in scrap) and sequence seems to be constant. But personally I like your suggestion to sort them by name, so I've created PR to sort this out.

[2019-04-11 06:11] phnx47 commented on #59
How performance changes?

If productivity decreases, it is better to create a debug mode: Sort alphabetically, add '\n' between metrics and etc.

[2019-04-11 06:16] phnx47 commented on #59
Why not debug in Prometheus(not client)?

[2019-04-11 16:33] sanych-sun commented on #59
Memory allocation the same. Performance impact is minimal, because actual sorting happens once after collectors modifications (add or remove metrics) but before scrape, sorted collection persist between scrapes unless there were changes to collectors registry. So if client code registers all metrics on start up (which is recommended way to do), the sorting occurs only once.

[2019-04-11 17:01] #59 closed

[2019-04-11 17:34] sanych-sun commented on #59
@davidalpert the changes were merged into master, you can try it via the my-get package, or wait for next rc or release package.

[2019-04-23 21:11] phnx47 commented on #55
Now all extensions: 'Strong Named Assemblies'

[2019-04-23 21:11] #55 closed

[2019-05-10 17:53] tomkerkhove opened #65 "NaN metric is not reported"
Not A Number (NaN) is a supported metric according to [EXPOSITION FORMATS
](https://prometheus.io/docs/instrumenting/exposition_formats/#comments-help-text-and-type-information)

However, this is not tracked when doing the following:
[code]

## Expected Outcome
[code]

## Actual Outcome
[code]

## Repro
Pull https://github.com/tomkerkhove/prometheus-nan-repro and consume `/repro` endpoint.

[2019-05-10 18:15] sanych-sun commented on #65
Hi @tomkerkhove

Thank you for reporting the problem, but could you please provide some more details about you use-case? We suppress NaN value in Gauge for the reason: it's hard to define predictable behavior for the Gauge in such scenario. What if value was set to NaN and then try to Inc? Should we consider NaN as 0 and result to current value be 1? But NaN + 1 results to NaN in .net. Or should w

[2019-05-10 18:22] tomkerkhove commented on #65
If you are doing this deliberately I think an exception would'be been better rather than supressing as this is a bit strange.

My use case is simple - I have a metric and sometimes I need to report `NaN` 🤷‍♂ I only use Set, never use Inc/Dec.

[2019-05-10 18:26] sanych-sun commented on #65
Ok, so here is my suggestion:

1) gauge should be changed to throw on NaN value to provide better experience
2) untyped metric, which is suppress NaN for the moment should accept it

So you can use Untyped instead of gauge for your needs. I can create PR tonight if the suggestion works for you.

[2019-05-10 18:43] tomkerkhove commented on #65
Well, in theory, is it still a gauge 🤔

Can we have 2 gauges? Or be able to define a baseline for NaN so you can inc/dec?
What are you doing today when somebody passes NaN and then calls Inc? You store the previous value then or?

[2019-05-10 18:44] tomkerkhove commented on #65
Where I'm going is that there should maybe be 2 gauges - One which only has set and supports NaN, and one which has Inc/Dec?

[2019-05-10 18:49] tomkerkhove commented on #65
What if the `Gauge` creation allows me to say that it's acceptable to pass `NaN` and it's up to me to only use `Set`?

Example:
[code]

[2019-05-10 18:53] sanych-sun commented on #65
It's not a gauge, but [untyped](https://github.com/PrometheusClientNet/Prometheus.Client/blob/master/src/Prometheus.Client/Abstractions/IUntyped.cs) which is exported as [untyped metric](https://prometheus.io/docs/instrumenting/exposition_formats/#comments-help-text-and-type-information).

The main difference that there is Set only, no Inc or Dec methods.

[2019-05-10 19:34] tomkerkhove commented on #65
In our case, we need a gauge - https://prometheus.io/docs/concepts/metric_types/#gauge.

Based on this our scenario is still valid as far as I see:
We have a metric that can either go up or down. If we don't have a value, and 0 is not representable, then we should use `NaN`

https://prometheus.io/docs/practices/instrumentation/#avoid-missing-metrics

Gauges can be set, go up, and go down. They are

[2019-05-10 19:35] tomkerkhove commented on #65
I think this is the best approach, personally. It tracks as a Gauge & allows me to use NaN when I don't have a decent metric.

[2019-05-10 20:09] sanych-sun commented on #65
The problem with NaN for gauge that if you set it's value to NaN, and then use Inc... the current value will be NaN... it might be unexpected and hard to predict behavior.

Why can't you use untyped instead? Currently Prometheus server[ ignores type information](https://prometheus.io/docs/concepts/metric_types/) at all:

Untyped metric has no such logical problem in work with NaN as Gauge has, bec

[2019-05-10 20:15] sanych-sun commented on #65
Or after all you can implement and register into the CollectorsRegistry you own metric, which will work as you want and reports itself as a Gauge (It's easy after the V3 release by using IMetricWriter). I can create an example for you if you prefer this way.

[2019-05-10 20:22] tomkerkhove commented on #65
The reason for a gauge is that human consumers know what to expect but I get your point, although I'm still not convinced (sorry 😅)

Feel free to post a sample, maybe that's a good alternative!

[2019-05-10 20:24] sanych-sun commented on #65
Ok, so do you need labels support for the metric or just a single unlabeled value?

[2019-05-10 20:49] tomkerkhove commented on #65
We are using labels indeed! But take your time, it's not urgent.

[2019-05-14 05:48] sanych-sun commented on #65
Hi @tomkerkhove !

Here is example code for custom metric which uses stub as a datasource. All you are need - just register instance of **RaceMetric** class in your collectors registry (Metrics.DefaultCollectorRegistry if you are using the default one).

Custom collector should implement **ICollector** interface, where:
- **Configuration** property, should have all configuration data needed to cre

[2019-05-17 18:18] sanych-sun commented on #65
@tomkerkhove Could you please let us know if the suggestion above helps?

Thanks

[2019-05-20 07:43] tomkerkhove commented on #65
Thanks for the sample, I'll have a look at soon.

[2019-05-22 22:02] vilmysj opened #66 "Prometheus 3.0 returns corrupted output"
Hi,

we are using Prometheus.Client with Prometheus.Client.Owin, after update to 3.0 version `/metrics` endpoint returns corrupted result:
[code]
or
[code]

Here is simple application which can reproduce this issue:
https://github.com/vilmysj/PrometheusClientTest

It creates multiple metrics and then calls `/metrics` endpoint with 2 concurrent calls. Prometheus.Client writes corrupted output after

[2019-05-22 22:04] sanych-sun commented on #66
@vilmysj  thank you for the report, I'll take a look at the issue ASAP.

[2019-05-22 23:08] sanych-sun commented on #66
Fast update: I tried to reproduce the issue via MetricServer instead of Owin - and there are no problems. So issue not in the Core lib, but in Owin integration. I'll keep you updated on my findings.

[2019-05-22 23:23] vilmysj commented on #66
I tried to use Prometheus.Client.AspNetCore and still getting corrupted results
https://github.com/vilmysj/PrometheusClientTest/tree/netcoreapp2.2

[2019-05-22 23:45] sanych-sun commented on #66
@vilmysj I found the root cause of the issue. As it turned out - it's in core library (we use ArrayPool to reduce memory allocation and sometimes MetricWriter returns the same array into pool twice... however in multi-thread environment it could be already in use by another instance).

I'll create pull request to fix the issue tonight.

Thank you again for the reported issue with very useful test

[2019-05-23 04:35] sanych-sun commented on #66
@vilmysj Pull request to fix the problem was created. Let's wait for review and new release, then all integration libraries have to be updated.

[2019-05-23 06:12] vilmysj commented on #66
Thank you for quick fix

[2019-05-23 06:17] phnx47 commented on #66
@vilmysj  @sanych-sun  Check it in MyGet, before release, please

[2019-05-23 06:49] sanych-sun commented on #66
@phnx47  I've just checked. It works now.

[2019-05-23 07:38] phnx47 commented on #66
Released!

[2019-05-23 10:41] #66 closed

[2019-06-11 18:25] sanych-sun commented on #65
Hi @tomkerkhove

Is this still actual or we can close the issue?

Thanks

[2019-06-11 19:10] tomkerkhove commented on #65
I still need to give it a spin but will close for now. Thanks!

[2019-06-17 08:47] arieradle opened #68 "Malformed metrics"
Hello,

I observe the following malformed metrics output:
[code]

It seems that part of the line of a metric is somehow missing from the output.

[2019-06-17 11:50] phnx47 commented on #68
Fixed in 3.0.1: https://github.com/PrometheusClientNet/Prometheus.Client/issues/66

@arieradle You have problem in 3.0.1?

[2019-06-18 07:03] arieradle commented on #68
Thanks, my bad

[2019-06-18 07:03] #68 closed

[2019-07-16 21:04] robbihun opened #69 "When using .NET Core and PushGateway, lines end in CRLF instead of LF which fail in PushGateway"
When using Prometheus.Client and Prometheus.Client.MetricPusher with PushGateway in a .NET core app running in a windows environment stats fail to push to the [gateway from this line](https://github.com/PrometheusClientNet/Prometheus.Client.MetricPusher/blob/master/src/Prometheus.Client.MetricPusher/MetricPusher.cs#L117)

In troubleshooting it appears that the metrics are attempting to be pushed w

[2019-07-16 21:28] robbihun commented on #69
Ignore this, i'm having a [bad] day - the error was because we were using timestamps in a counter metric.

[2019-07-16 21:28] #69 closed

[2019-08-04 16:25] tomkerkhove commented on #65
I've had a look at the sample and makes it a lot more complex for consumers, just to track a NaN on a Gauge. I still believe that, if it's opt-in, and I call Inc/Dec on a NaN it's up to me to fix it or just use Set.

I tried to extend the current gauge but the factory method makes it a bit more cumbersome.

However, if you really think it's best not to remove the check then that's ok for me. Will

[2019-08-07 16:37] sanych-sun commented on #65
I'll reopen the issue so we can discuss the changes.

Here is new suggestion:
We can allow NaN as a valid value for Gauge via method Set, but throw when user's code try to use Inc or Dec if current value is NaN. This approach allow us to support NaN and still have predictable behavior.

@tomkerkhove and @phnx47  does such suggestion works/makes sense?

Thanks

[2019-08-07 17:02] tomkerkhove commented on #65
That would be prefect for me! Thanks for considering!

[2019-08-07 17:04] sanych-sun opened #70 "Consider cache encoded strings in MetricsWriter"
As it shown by benchmarks it takes lots of time to encode strings while scrape processing. Consider to implement some caching layer to hold encoded values to improve the performance.

[2019-08-07 17:56] sanych-sun opened #71 "Remove StyleCop.Analyzers from project dependencies"
There is reference to Remove StyleCop.Analyzers for netstandard1.3 target in Prometheus.Client.csproj. It's unnecessary and should be removed.

[2019-08-07 23:23] phnx47 commented on #71
I don't see problem

![image](https://user-images.githubusercontent.com/1101691/62664223-6d78d300-b983-11e9-9a22-dc90a3846fa7.png)

[2019-08-07 23:30] sanych-sun commented on #71
Yep, but in csproj file we have the following line:

`<PackageReference Update="StyleCop.Analyzers" Version="1.1.1-rc.114" />`

It looks useless.

[2019-08-09 20:21] sanych-sun opened #72 "Check .NET Core 3.0 compatibility"
As we so close to the .NET Core 3.0 release it makes sense to check compatibility with the latest preview version to ensure smooth migration.

[2019-08-09 20:42] sanych-sun opened #73 "Implement integration with DiagnosticSource"
We need to propose and implement integration with [DiagnosticSource](https://github.com/dotnet/corefx/blob/d3942d4671919edb0cca6ddc1840190f524a809d/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md). This integration should provide an easy way to filter and map events into metrics. It might be done as a additional package if this makes sense.

[2019-08-09 21:12] phnx47 commented on #73
This can help: https://github.com/Chakrygin/DiagnosticsNet

[2019-08-13 12:47] tomkerkhove commented on #65
We are holding off https://github.com/tomkerkhove/promitor v1.0 until this is sorted out.

Feel free to let me know what you think of this and if you have the bandwidth. If not, I might be able to contribute this if you want.

[2019-08-14 05:14] sanych-sun commented on #65
Wow! Sounds like we have to change our plans a little to make this live ASAP. I think it will take day or two to get development build so you can check everything on your side. And then we can cut the production build.

I'll keep you informed on the progress.

[2019-08-14 06:10] tomkerkhove commented on #65
Thanks and don't rush it, if we have to wait then that's it - I don't expect you to drop everything and implement this :)

In terms of your suggestion, don't feel obliged to roll this out for everybody perse, if you want to use a `supressNaN` which is `true` by default, then that's ok for me!

[2019-08-14 10:37] tomkerkhove commented on #65
Pulled in the MyGet package and it works:
[code]

Thank you!

[2019-08-14 16:33] sanych-sun commented on #65
@tomkerkhove,  sounds good!

Do we need to create a prod package ASAP or you OK for now and it can wait week or two (for other issues in scope of 3.1 to be sorted)?

[2019-08-14 16:39] tomkerkhove commented on #65
I won't ship v1.0 on the preview package but it's ok to wait a week or two, no worries!

[2019-08-14 20:10] sanych-sun commented on #65
OK. I'll close the issue and let's plan it to be included into upcoming 3.1 release. If you need the functionality to be available earlier - just let us know and we will cut the build.

Thanks.

[2019-08-14 20:10] #65 closed

[2019-08-27 17:46] tomkerkhove commented on #65
Just out of curiosity - When are you planning to ship 3.1?

[2019-08-27 17:51] tomkerkhove commented on #65
Sure that's fine - Thanks!

[2019-08-29 09:07] Sergey-Terekhin opened #75 "Broken double value representation under .Net Core"
Hello!
We use prometheus client under .Net Core with the default culture where decimal separator is comma (','). And we get broken text representation of metrics (instead of dots, commas are used):
[code]
Such representation can not be parsed by Prometheus Server.

It seems to be issue here:  `Prometheus.Client/src/Prometheus.Client/MetricsWriter/MetricsTextWriter.cs, line 264` (method **`Write(do

[2019-08-29 16:07] sanych-sun commented on #75
Thank you for reporting this. We will fix it ASAP and include into next release.

[2019-08-30 07:57] Sergey-Terekhin commented on #73
May be not `EventSource`, but `DiagnosticSource` would be more suitable for that?
These articles can help (it only in russian):
https://habr.com/ru/company/ozontech/blog/435896/
https://habr.com/ru/company/ozontech/blog/221037/

[2019-08-30 08:11] phnx47 commented on #73
@Sergey-Terekhin Thank you!

[2019-08-30 21:52] #75 closed

[2019-08-30 21:53] sanych-sun commented on #75
The issue has been fixed and will be included into 3.0.2 release.

@Sergey-Terekhin It would be nice if you help us with testing the development build on MyGit.

Thanks

[2019-09-02 07:52] Sergey-Terekhin commented on #75
Checked build on MyGet - seems to be fixed 👍
Thank you!

[2019-09-03 21:57] sanych-sun commented on #75
@Sergey-Terekhin  Thank you for confirming the fix. We will create hot-fix package soon.

[2019-09-04 16:30] sanych-sun commented on #75
@Sergey-Terekhin just want to let you know that package has been created and available on nuget.

[2019-09-04 17:28] Sergey-Terekhin commented on #75
Thanks, already updated package in my service :)

[2019-09-25 07:43] oholsen opened #78 "ProcessCollector has "untyped" metrics"
Pushing metrics to Push Gateway makes Prometheus think it is down. The /metrics end-point on the Push Gateway responds with a 500:

[code]

There are two metrics at fault: `process_processid` and `process_start_time_seconds`.

In contrast, start time is a Gauge here:
https://github.com/prometheus-net/prometheus-net/blob/master/Prometheus.NetStandard/DotNetStats.cs

[2019-09-25 20:29] sanych-sun commented on #78
Wow! Thank you for reporting and contributing to fix this issue. Is it happens on "empty" Prometheus, or because your Prometheus instance already has process_processid metric but gauge instead of untyped?

[2019-09-26 13:18] oholsen commented on #78
Hi! This happens on an "empty" Prometheus, but notice that Prometheus also
scrapes the other services in the Prometheus stack where these two metrics
are gauge instead of untyped. Specifically, the problem occurs using
https://github.com/evnsio/prom-stack.

On Wed, Sep 25, 2019 at 10:29 PM Oleksandr Poliakov <
notifications@github.com> wrote:

--

*Øystein Haug Olsen Ph.D.*
Director of Engineering

[2019-09-26 18:08] sanych-sun commented on #78
@oholsen Thank you for the information. We definitely have to integrate your changes. Honestly it was me who change that metrics type from gauge to untyped, as it looks semantically better. But now I can see it was not so good idea :)

[2019-09-27 16:19] #78 closed

[2019-09-27 16:22] sanych-sun commented on #78
@oholsen  I've merged the PR. Could you please check the latest package on MyGet to ensure that issue is being fixed?

Thanks

[2019-09-30 09:01] oholsen commented on #78
We have verified that the latest package on MyGet works. Will it also
appear on nuget soon?

On Fri, Sep 27, 2019 at 6:22 PM Oleksandr Poliakov <notifications@github.com>
wrote:

--

*Øystein Haug Olsen Ph.D.*
Director of Engineering
+47 902 76 979 | oystein.olsen@cognite.com
www.cognite.com | LIBERATE YOUR DATA™

[2019-09-30 19:11] sanych-sun commented on #78
@oholsen Thank you for verifying the fix. We will publish the nuget package soon (most likely tonight).

Thank you again for contributing.

[2019-10-14 21:52] #71 closed

[2019-11-16 07:10] #70 closed

[2019-11-26 18:10] sanych-sun opened #84 "Labels review"
TBD

[2019-11-26 18:11] sanych-sun opened #85 "Metrics runtime optimization"
Investigate and improve library footprints while operating with metrics (creation, value observation, etc)

[2020-01-22 18:58] #72 closed

[2020-02-06 20:51] #84 closed

[2020-03-02 17:15] jnovick opened #90 "Add support for initializing histogram metrics with labels to zero"
I need the ability to use the increase or rate function and see when a metric goes from uninitialized (Which I consider 0) to a non-zero value. According to [official docs](https://prometheus.io/docs/instrumenting/writing_clientlibs/),

This means, I should be able to specify in advance a metric's labels to set to zero so initial scraping shows that zero value.

There is already a workaround for `

[2020-03-02 17:43] sanych-sun commented on #90
@jnovick I believe there is functionality to handle your use-case.

If you use MetricFactory to create a metrics there is an option to suppressEmptySamples (which is true by default), try to set it to false while creating the metric. I cannot test the suggestion yet, but I can create a sample for you later.

[2020-03-02 17:53] jnovick commented on #90
Thanks you. If I set that to false then simply calling `WithLabels` initializes the values to zero and accomplishes what I want.

[2020-03-02 17:53] #90 closed

[2020-04-02 17:36] sanych-sun opened #91 "Implement int-based gauge"
We need to implement int64-based gauge. It will helps the same way as int-based counter (performance and usability).

[2020-04-16 20:42] #85 closed

[2020-04-16 20:42] #91 closed

[2020-07-29 05:50] tomkerkhove opened #104 "Support for multi-instance workloads"
This is more of a question but if I have a workload using 2 instances (A & B) - How can metrics reported by A be used in B?

Is this possible at all? For example, how do we sync state? Do we have to do it ourselves?

[2020-07-29 16:35] sanych-sun commented on #104
It should be possible to add the same metric instance into more then 1 registry via ICollectorRegistry.Add. And then register several endpoints for each registry.

I can create a sample code for you tonight.

[2020-07-30 08:09] sanych-sun commented on #104
Hi again!

            var registry1 = new CollectorRegistry();
            var factory = new MetricFactory(registry1);
            var counter = factory.CreateCounter("test_count", "helptext");

            var registry2 = new CollectorRegistry();
            registry1.TryGet("test_count", out var metric);
            registry2.Add(metric);

            IMetricServer metricServer = new MetricServ

[2020-07-30 08:22] tomkerkhove commented on #104
Thanks for the sample but, unfortunately, my scenario is actually different I think.

I have one application which can run multiple instances. Every instance will have their own scrape endpoint which can be called and has a LB in front.

If instance A reports 10, how do we ensure instance B reports the same? Do we have to do that ourselves? Do we need to persist it?

[2020-07-30 08:48] sanych-sun commented on #104
Oh I see. Is there k8s cluster to run your instances? If so, there is k8s operator to handle it.

Otherwise you have to install Prometheus server "inside" your application's network and scrap both servers. Or make some kind of proxy to each endpoint.

Anyway it will be better to let Prometheus have access to both servers, and calculate sum (or whatever you need) via Prometheus expressions while vi

[2020-07-30 09:28] tomkerkhove commented on #104
It is running in Kubernetes indeed, but Prometheus only knows the Service it calls which will route to one of my instances. There is no way for Prometheus to be able to scrape both instances for this.

[2020-07-30 11:17] phnx47 commented on #104
Hello!

You should check your config, here documentation for kubernetes: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config

When you can't scrape 2 services, maybe you can use Pushgateway.

[2020-07-30 17:14] sanych-sun commented on #104
Here is some tutorial how to monitor application in k8s:

https://medium.com/kubernetes-tutorials/simple-management-of-prometheus-monitoring-pipeline-with-the-prometheus-operator-b445da0e0d1a

In general it means you have to install additional pod (operator) into your k8s cluster and add some labels to target services, so operator can query cluster to discover the services and automatically scrape

[2020-08-08 03:07] sanych-sun commented on #104
@tomkerkhove as there is nothing to be done on Prometheus.Client side, I'll close the issue. Feel free to reopen it if there is anything else we can do to help.

[2020-08-08 03:07] #104 closed

[2020-08-19 12:33] tomkerkhove opened #113 "Metric without labels is always tracked, even when not written"
After upgrading to 4.0 metrics always have an entry without labels and fixed `0`:
[code]

Repro: https://github.com/tomkerkhove/Prometheus.Client.Repro

[2020-08-19 18:33] sanych-sun commented on #113
The problem is in the following lines:
[code]

You have to start with MetricFlags.Default (**Default = SuppressEmptySamples**)

[2020-08-19 18:38] tomkerkhove commented on #113
Problem is, I'm not reporting the metric without labels. It appears if I track the other one.

From my understanding the SupressEmpty refers to me reporting empty metrics, no?

[2020-08-19 18:40] tomkerkhove commented on #113
On a related note, would be good to describe the flags of the enum with docs.

[2020-08-19 18:50] sanych-sun commented on #113
For general use-cases it's better to report sample as soon as possible, event with empty value (for example if you have a counter and uses rate aggregate, to make first observations visible on visualization prometheus expects to have 0 as a first scrape). This is not a problem for labelled samples, as usually client code creates sample by calling WithLabels and make observation instantly. But user

[2020-08-19 18:58] sanych-sun commented on #113
On other hand this option could be obsolete, as we uses Lazy<> internally to store the unlabelled sample and we can know if user's code access unlabelled sample.

@phnx47 What do you think are we safe to remove the SuppressEmptySamples flag and parameter? But it will be another breaking change =(

[2020-08-19 19:11] phnx47 commented on #113
[code]
`SuppressEmptySamples` already by default. Problem with combine SuppressEmptySamples and IncludeTimestamp. Need time for thihk...

[2020-08-19 19:17] phnx47 commented on #113
I understand more now. Yes, this is problem (((

I will hide 4.0.0, we will publish 4.0.1

[2020-08-19 20:53] #113 closed

[2020-08-19 21:29] sanych-sun commented on #113
@tomkerkhove new package 4.1.0 was released to resolve the described problem.

Now you can simplify you code of metric creation

`var gauge = _metricFactory.CreateGauge("example", "Sample metric", true, new []{"instance","region"});`

[2020-08-20 05:59] tomkerkhove commented on #113
Everything looks ok now, thanks for the (quick) fix!

[2020-08-20 06:03] tomkerkhove opened #115 "Capability to parse generated Prometheus metrics"
Does the client provide capability to pull & parse generated metrics on an endpoint?

If not, do you recommend any other frameworks?

Use case would be to write integration tests to pull the generated metrics and ensure they are written correctly.

[2020-08-20 07:10] sanych-sun commented on #115
We do not have such functionality. And I do not know such libraries.

But if you would like to export metrics in some another format (let's say json) it's possible. We have IMetricsWriter abstraction. If you implement your own metric writer you can export metrics to any format by using ICollectorRegistry.CollectToAsync method.

[2020-08-20 08:34] tomkerkhove commented on #115
I'm mainly looking for parsing as if I would be a user but thanks for the tip anyway!

[2020-08-20 08:34] #115 closed

[2020-09-09 08:10] mwinkler opened #118 "Option to reset counter"
Hi
I have a application that process data on a recurring base (scheduled task).
At the start i want to set/export all counter to 0.
If a counter has no label, its working fine (the counter gets exported with 0).
But I see no way to set a counter to 0, if it has a label.
Maybe a `Reset()` method on the counter could do that:
[code]
Thanks

[2020-09-09 16:41] sanych-sun commented on #118
Hi

If you are using v4 of the library you can just call WithLabels by providing your labels combination on start and it should be reported with 0 value.

`var counter = metricFactory.CreateCounter("myCounter", "help text", labelNames: new []{ "method", "endpoint"});
counter.WithLabels("GET", "/");`

Or if you want to have unlabelled sample reported - access to the Unlabelled property.

`
var coun

[2020-09-09 16:52] phnx47 commented on #118
@sanych-sun Yes, but we may reset counter any time, not just start from 0.

[2020-09-09 16:54] phnx47 commented on #118
https://prometheus.io/docs/instrumenting/writing_clientlibs/#counter
`Counter is a monotonically increasing counter. It MUST NOT allow the value to decrease, however it MAY be reset to 0 (such as by server restart).`

[2020-09-09 17:27] sanych-sun commented on #118
On server (process) restart it will reset =). Do we need explicit API to reset the value? If we decide to move this way, I would prefer API to remove the sample from family instead. Because it will cover additional potential use-cases (create some sample for temporary job and remove sample at all when this unit of work is completed). By removing sample we delete current value. If client's applicat

[2020-09-09 21:34] sanych-sun commented on #118
@mwinkler we decided to move discussion regarding metrics reset and sample removing into separate issue. Have the suggestion to create empty samples works for you?

[2020-09-10 09:29] mwinkler commented on #118
@sanych-sun Yes the given sample works for me. I just call `.WithLabels()` and the counter gets initalized with 0. Thanks.

[2020-09-10 09:29] #118 closed

[2020-09-10 22:10] sanych-sun opened #119 "Ability to reset metric sample to the default state"
Add Reset method to IMetric interface. This method should reset stored value to the default (0 for counter, empty buckets for histogram, etc).

Also extension method for IMetricFamity to reset all samples in the family including Unlabelled.

[2020-09-10 22:13] sanych-sun opened #120 "Ability to remove labeled sample from the metric family"
Add RemoveLabeled method into IMetricFamily interface. It should remove the sample from family by labels. It should allow client application to create and remove samples dynamically.

[2020-10-10 17:50] #119 closed

[2020-10-14 01:45] #120 closed

[2020-10-20 12:01] Spinkelben opened #122 "Off by one error, prevents logging metrics with 7 or more labels"
https://github.com/PrometheusClientNet/Prometheus.Client/blob/3e5b9bf28bea2c0cbb18be6b90982ca6ef69dade/src/Prometheus.Client/LabelsHelper.cs#L142

It is in fact the 8th element that is the "Rest" element and not the 7th. `i` is counting the ordinal number and not the index.

Simplest code that exhibits the behaviour:

[code]

[2020-10-20 21:56] sanych-sun commented on #122
@Spinkelben thank you for contribution.

Wow nice catch! That algorithm works well for all tuples except from tuples that has 7, 14, etc components (because the code try to access Rest component, with is not there). We will fix the issue ASAP.

[2020-10-21 09:09] #122 closed

[2020-10-29 16:32] tzographos opened #126 "Prometheus.Client.Abstractions nuget package"
Hello,

I can't seem to find a nuget package with the Abstractions of this client. Can you modify your CI in order to be able to build Prometheus.Client.Abstractions nuget packages ?

--Theodore

[2020-10-29 18:05] sanych-sun commented on #126
We have not separated Abstractions into the package, but this definitely makes sense. I'll mark this issue as "enhancement" and we will include it into next release.

For now you have to reference the library itself.

Thank you for your contribution.

[2020-10-30 15:53] Spinkelben commented on #122
Thank you for the quick turnaround! 👍

[2021-01-21 13:02] renovate[bot] opened #130 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:22] #130 closed

[2021-01-23 09:30] #126 closed

[2021-01-28 15:24] FlorianHockmann opened #132 "ArgumentException thrown when multiple tasks observe a metric in parallel"
We recently updated some of our micro services from Prometheus.Client 3.1.0 to 4.2.0 and from .NET Core 3.1 to .NET 5. This resulted in frequent exceptions being thrown by Prometheus.Client.

Two example stack traces:

[code]

[code]

The exception however only occurs if we use multiple tasks in parallel that can observe metrics. So, I suspect that this is a problem with concurrency.

[2021-01-28 18:37] sanych-sun commented on #132
Thank you for reporting this. Will take a look ASAP.

[2021-01-29 04:49] sanych-sun commented on #132
I've created PR to get this sorted. Also added some basic parallel tests to avoid such cases in future. The change will be included into upcoming 4.3.0 release.

[2021-01-29 06:35] #132 closed

[2021-01-29 07:18] tomkerkhove opened #134 "v4.3.0 is a breaking change"
Renovate wanted me to auto-upgrade to v4.3.0 but it's a breaking change: https://github.com/tomkerkhove/promitor/pull/1469

When checking the release notes (https://github.com/PrometheusClientNet/Prometheus.Client/releases/tag/v4.3.0) it is actually noted as a breaking one.

Just out of curiosity, was it on purpose to keep this on v4?

*PS: Feel free to setup GitHub Discussions so that I don't hav

[2021-01-29 09:04] phnx47 commented on #132
Released in v4.3.0

[2021-01-29 09:22] sanych-sun commented on #134
@tomkerkhove Sounds reasonable, we'd probably better to change major version. However it's easy to solve the breaking change, by just removing that using. I can do that for you =)

Sorry for inconveniences.

[2021-01-29 10:07] sanych-sun commented on #134
I've create PR for Promitor to solve the issue. Fill free to merge it or modify in any way to meet your project standards.
The main motivation not to change version to 5 was that there is not so much "new" functionality to make the major release. :-)

Sorry again and we have Discussions board now.

I'll close the issue now, please reopen it if you need more assistance.

[2021-01-29 10:07] #134 closed

[2021-01-29 11:27] FlorianHockmann commented on #132
Thanks a lot for fixing this so quickly!

[2021-01-29 16:29] tomkerkhove commented on #134
No problem and thanks for explaining and the PR!

[2021-03-03 16:28] cscoon opened #135 "add IncTo( ) method to ICounter"
In the Prometheus-net package, functionality existed to set a counter to a specific value by calling IncTo( ).  This allowed us to set the counter to a specific value, which is functionality we need.

In Prometheus.Client, the ICounter implements Inc( ), but not IncTo( ).  Please add IncTo( ) functionality to Prometheus.Client

[2021-03-05 21:36] phnx47 commented on #135
I published version to GitHub Packages for test - [4.4.0-dev-1614980007](https://github.com/PrometheusClientNet/Prometheus.Client/packages/333381)

[2021-03-09 06:04] sanych-sun commented on #135
@cscoon Could you please confirm if IncTo works well for you? We are ready to release the new version, but need confirmation.

[2021-03-10 16:29] cscoon commented on #135
We are not yet using Prometheus.Client.  We did some high level POC to evaluate moving to Prometheus.Client but ultimately could not, and the lack of IncTo( ) was part of that.  So I cannot test/verify that it is working correctly, but the fact that it exists now may encourage us to migrate to Prometheus.Client in the (hopefully) near future.

[2021-03-10 19:13] sanych-sun commented on #135
OK, thank you.

Then we can release it as is for now.

[2021-06-14 14:40] phnx47 opened #142 "Metric prefix for default collectors"

[2021-07-12 15:02] phnx47 commented on #142
Implemented!

[2021-07-12 15:02] #142 closed

[2021-08-25 04:44] renovate[bot] opened #154 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-15 08:26] jakubneubauer opened #158 "Library doesn't allow empty string label"
Empty string labels are allowed by Prometheus, however the client library throws exception on it.
The check for null was there from beginning, but check for empty string was added in following commit, breaking backward compatibility, by the way:
commit 5f1dd1e466feb9851539a277d643f9c747315b88
Author: sanych-sun
Date: 12/15/20, 8:39 AM
Performance tweaks

I submitted pull request to fix it and I'm

[2021-09-15 15:53] sanych-sun commented on #158
Good catch! Thank you for your feedback and PR.

I've added some comments under your PR, please update it and we will get it merged.

[2021-09-16 06:40] jakubneubauer commented on #158
Your comments resolved. Can I kindly ask if you could release new version with the changes? It is kind of blocker in our project, since production code throws many exceptions with the newer version.

[2021-09-16 16:21] sanych-sun commented on #158
Thank you for the contribution. I've approved the PR and will merge it. Just want to add some more unit-tests, but it should not take me long.

[2021-09-19 17:04] sanych-sun commented on #158
The changes is merged into V4 branch. @phnx47, could you please cut the v4 release?

[2021-09-20 01:48] phnx47 commented on #158
@sanych-sun Yep! I will do it today later

[2021-09-20 16:37] phnx47 commented on #158
Released: [v4.5.3](https://github.com/prom-client-net/prom-client/releases/tag/v4.5.3)

[2021-09-20 16:38] #158 closed

[2021-09-21 07:49] jakubneubauer commented on #158
Thank you very much for your fast response!

[2021-11-29 03:37] #26 closed

[2022-01-03 12:44] utybo opened #164 "CancellationTokens support in ScrapeHandler"
Hi! First of all, thank you for your work on Prometheus.Client.

While migrating an application from `prometheus-net` to `Prometheus.Client`, I noticed that `prometheus-net`'s [`ICollectorRegistry`](https://github.com/prometheus-net/prometheus-net/blob/1cfbebb79719b9016284b7ded8dc5ef93e500fea/Prometheus.NetStandard/ICollectorRegistry.cs#L21) supports `CancellationToken`s, while `Prometheus.Client`

[2022-01-03 15:45] phnx47 commented on #164
@utybo Thank you for the issue. I will investigate this

[2022-01-04 13:48] phnx47 commented on #164
It is planned for the next major release

[2022-01-05 06:02] #164 closed

[2022-01-21 18:46] sanych-sun opened #178 "Add Release method to IMetricFactory"
Currently if client code wants to remove previously observed metric it has to work with ICollectorRegistry object, which is usually hidden by IMetricFactory. It would be nice to add appropriate method(s) to remove the metrics to the IMetricFactory so the client code should "know" about the single point to create and release the metrics.

[2022-01-31 17:24] cscoon opened #183 "ability to swallow/ignore exceptions from Observe functionality; but throw from Func"
When a histogram is observed, the code that is being measured is sent to `ObserveDuration `or `ObserveDurationAsync `as a `Func` parameter.

We have a requirement where if any Prometheus operations results in an exception (ex: `IncTo`, `ObserveDuration`, etc.), that exception should be swallowed/ignored so that it doesn't interrupt the execution path where `IncTo `or `ObserveDuration` was called.

[2022-02-05 07:10] #178 closed

[2022-02-20 14:16] phnx47 opened #189 "Normalize default metrics"
- Revision of current default metrics with best practices: https://prometheus.io/docs/practices/naming/
- Add new metrics if possible.

[2022-02-22 20:46] sanych-sun commented on #189
can we add some configuration or settings to allow "legacy metric names" as this is a breaking change that will require dashboards rework on client side.

[2022-02-23 01:08] phnx47 commented on #189
@sanych-sun Good point, we have some options. I will add my ideas.

[2022-08-21 12:44] #189 closed

[2022-08-29 16:15] cscoon opened #204 "more debug info in exception message when label validation fails"
Today, when label validation fails, the exception message is "Collector with same name must have same type and same label names"

We see these messages in our logs, but the message doesn't tell us 2 important things: 1) what is the name of the metric? 2) what were the labels and values that failed validation?

We have several metrics and emit metrics at many places in our source code.  The current

[2022-08-30 02:19] phnx47 commented on #204
@cscoon I can do it this or next week.

Also feel free to open PR, Exception from here:
https://github.com/prom-client-net/prom-client/blob/37eb36f3875d2a57fd1eb167037ece33bb3a14a9/src/Prometheus.Client/MetricFactory.cs#L706

[2022-08-31 17:02] cscoon commented on #204
An update to the fix I suggested in my earlier post... the exception message should output the names of the labels that are attempting to be emitted (unsuccessfully) AND it should also output the names of the labels that are already output.

An example of why this would be helpful - I am currently debugging an issue where we apparently have a code path that is emitting a logging-related metric wit

[2022-08-31 23:58] phnx47 commented on #204
@cscoon I understood the problem, simple task. Need to wait when I will be free. But, It can be released faster if you raise PR, I will be appreciated.

[2022-09-07 13:59] cscoon opened #207 "exception is thrown when labels appear in a different order"
We are receiving the exception "Collector with same name must have same type and same label names" when in fact the labels for this metric are the same.  The only difference is that the labels appear in a different order.

For example, the /metrics endpoint exposes a label like this:

`my_metric {labelA="A",labelB="B",tenant_id="blah",tenant_purpose="blah"}`

When we attempt to publish this metric

[2022-09-08 00:26] phnx47 commented on #207
Highly recommended use same order. We will not re-order labels in library with each Inc().

I will do additional investigation how Prometheus validate same metric with different order. If it possibly will support this in library

[2022-09-11 15:04] #204 closed

[2022-09-11 15:24] phnx47 commented on #204
@cscoon Published: [v5.1.0](https://github.com/prom-client-net/prom-client/releases/tag/v5.1.0)

[2022-10-11 11:35] phnx47 commented on #207
@cscoon

Prometheus re-order labels on their side. But in this library you must use same order.

We use array and tuple for labels. For 'Different Order' feature, it should be a dictionary. It will very expensive rewrite current implementation!

Also I tried publish as a new metric, second metric is ignored
![image](https://user-images.githubusercontent.com/1101691/195078261-7c560779-e20d-4483-935

[2022-10-11 11:36] #207 closed

[2022-10-11 14:58] phnx47 opened #212 "Move Create[Metric] from Extensions to MetricFactory"
I have issue when methods with conversion String to Tuple cannot be used from Extensions without timestamp since v5.

Look commit: https://github.com/prom-client-net/prom-client-healthchecks/commit/ced97c89b4cfda3f2b0e32764b268855bc60474f

[2022-11-05 00:10] sanych-sun commented on #212
You should reference namespace Prometheus.Client. for proper extension resolution. Not sure how it worked before =)

[2022-11-05 05:47] phnx47 commented on #212
@sanych-sun I checked this, doesn't work. I beleive, that some extensions better move to `MetricFactry` it is more consistency and this fix issue.